<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Transactions</title>
</head>
<body>
<div th:replace="fragments/navbar"></div>
<div class="container my-2">
    <h1>Transactions</h1>

    <a href="/transactions/create" class="btn btn-primary btn-sm mb-3">Add Transactions</a>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col"><a th:href="@{'/transactions/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">#</a></th>
            <th scope="col"><a th:href="@{'/transactions/page/' + ${currentPage} + '?sortField=category&sortDir=' + ${reverseSortDir}}">category</a></th>
            <th scope="col"><a th:href="@{'/transactions/page/' + ${currentPage} + '?sortField=title&sortDir=' + ${reverseSortDir}}">title</a></th>
            <th scope="col"><a th:href="@{'/transactions/page/' + ${currentPage} + '?sortField=description&sortDir=' + ${reverseSortDir}}">description</a></th>
            <th scope="col"><a th:href="@{'/transactions/page/' + ${currentPage} + '?sortField=amount&sortDir=' + ${reverseSortDir}}">amount</a></th>
            <th scope="col"><a th:href="@{'/transactions/page/' + ${currentPage} + '?sortField=date&sortDir=' + ${reverseSortDir}}">date</a></th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${transactions}">
            <td th:text="${transaction.id}"></td>
            <td th:text="${transaction.category.name}"></td>
            <td th:text="${transaction.title}"></td>
            <td th:text="${transaction.description}"></td>
            <td th:text="${#numbers.formatCurrency((transaction.amount*1.0)/100.0)}"></td>
            <td th:text="${transaction.date}"></td>
            <td><a th:href="@{/transactions/{id}/edit (id=${transaction.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{/transactions/{id}/delete (id=${transaction.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav th:if="${totalPages > 1}" aria-label="Page navigation example">
        <ul class="pagination">

            <li class="page-item">
                <a class="page-link" th:if="${currentPage != 1}" th:href="@{'/transactions/page/'+${currentPage - 1}(sortField=${sortField},sortDir=${sortDir})}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                <span class="page-link" th:unless="${currentPage != 1}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </span>
            </li>

            <li class="page-item"
                th:each="i: ${#numbers.sequence(1, totalPages)}">
                <a class="page-link" th:if="${currentPage != i}" th:href="@{'/transactions/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
            </li>

            <li class="page-item">
                <a class="page-link" th:if="${currentPage != totalPages}" th:href="@{'/transactions/page/'+${currentPage+1}(sortField=${sortField},sortDir=${sortDir})}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                <span class="page-link" th:unless="${currentPage != totalPages}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </span>
            </li>

        </ul>
    </nav>
</div>
</body>
</html>