<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Records</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Add Records </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-info" href="#" th:href="@{/records/all}"> Back to All Records </a>
            <form action="#" class="form-horizontal"
                  th:action="@{/records/save}"
                  th:object="${form}"
                  method="post">
                <fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
					</span>
                    <table class="table">
                        <thead>
                        <tr>
                            <th> Title</th>
                            <th> Description</th>
                            <th> Amount</th>
                            <th> Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="record, itemStat : *{records}">
                            <td><input th:placeholder="Title + ' ' + ${itemStat.count}" th:field="*{records[__${itemStat.index}__].title}" required/></td>
                            <td><input th:placeholder="Description + ' ' + ${itemStat.count}" th:field="*{records[__${itemStat.index}__].description}" required/></td>
                            <td><input th:placeholder="Amount + ' ' + ${itemStat.count}" th:field="*{records[__${itemStat.index}__].value}" required/></td>
                            <td><input th:placeholder="Date + ' ' + ${itemStat.count}" th:field="*{records[__${itemStat.index}__].date}" type="date" required/></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>